@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&display=swap");

body {
  background: #f2f2f2;
}

* {
  font-family: Raleway;
  font-weight: 400;
}

.bold{
    font-weight: 700;
}

.banner-image {
  width: 300px;
  border-radius: 30%;
}

.image-container {
  background-image: url(res/images/entry_banner.jpg);
  height: 300px;
  background-position: center;
  display: flex;
  background-size: cover;
  right: 0;
}

.entry {
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
}

.rounded-p {
  align-content: center;
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  text-align: center;
}

.goz-at {
  align-self: center;
  bottom: 10px;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  transition: 1.5s;
}
.goz-at:hover{
  transform: scale(1.1);
}

.article-card{
  position: relative;
  justify-content: center;
  transition: 0.5s;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #252525;
}
.article-card:hover{
  transform: scale(1.1)
}

.card-title{
  line-height: 25px;
  font-weight: 700;
  font-size: 22px;
  position: absolute;
  top: -18px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  
}

.card-content{
  background-color: white;
  border-radius: 30px;
  font-size: 14px;
}

.card-date{
  position: absolute;
  bottom: -25px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}
.footer-box{
  color: #f2f2f2;
  font-family: 'Raleway';
  bottom: 0;
  background-color: rgb(20, 20, 20);
}